<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Songs</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<div class="jumbotron">
    My Most Excellent Tuneage
</div>
{% block content %}
<table class="table">
    <tr>
        <th>Band</th>
        <th>Song</th>
    </tr>

    {% for song in song_list %}
    <tr>
        <td>{{ song.song_band }}</td>
        <td>
            <a href="{% url 'song_details' song.song_id %}">{{ song.song_title}}</a>
        </td>
    </tr>
    {% endfor %}

</table>


{% endblock content %}

</body>
</html>